.tree__branch {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.tree__branch > span {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.tree__branch > div {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.tree__branch .talent::after {
  background: #222;
  border-color: #333;
  border-style: solid;
  border-width: 1px 0 1px 0;
  content: '';
  height: 15px;
  left: 100%;
  margin: -7.5px 0 0 5px;
  position: absolute;
  top: 50%;
  width: 100px;
}

.tree__branch .talent:last-child::after {
  content: initial;
}

.tree__branch .talent--active::after {
  background: #333;
  border-color: #444;
}



@media (max-width: 1080px) {
  .tree__branch {
    flex-direction: column;
  }

  .tree__branch > div {
    flex-direction: column;
  }

  .tree__branch .talent::after {
    border-width: 0 1px 0 1px;
    height: 100px;
    left: 50%;
    margin: 5px 0 0 -7.5px;
    top: 100%;
    width: 15px;
  }
}
